@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  background: linear-gradient(275deg, #9ae7ff 30%, #a15eee 50%, #ec91ae 70%, #d8ffa2 94%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg {
  color: #fafafa;
}
